.navbar-nav {
    margin-left: auto;
}
.navbar {
    background-color: #55534F;
}

.card1 {
    background-color: #F49800;;
    color: white;
}

.card2 {
    background-color:#F49800;;
    color: white;
}
